h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.hidden {
	display: none;
}

.info {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0.5rem 10rem 0 0;
}

.arrow {
	border: solid;
	border-width: 0 0.1rem 0.1rem 0;
	display: inline-block;
	padding: 0.25rem;
	margin-right: 0.5rem;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

h3 ~ p {
	cursor: pointer;
	padding-bottom: 0.5rem;
	margin-right: 3rem;
}

h3 ~ p:hover {
	color: #00aa00;
}

.bold {
	font-weight: bold;
}

a {
	color: #00aa00;
}

.image-container {
	display: flex;
	justify-content: space-between;
}

.image-container img {
	width: 90%;
}

.image-container p {
	width: 90%;
	margin-top: 0.5rem;
	text-align: center;
}

.srcset-image img {
	width: 60%;
	display: flex;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	.info {
		margin: 0.5rem 2rem 0 0;
	}
}

@media (max-width: 768px) {
	h2 {
		font-size: 1.25rem;
		margin-top: 1.5rem;
	}

	h3 {
		font-size: 1.125rem;
		margin-top: 1.25rem;
	}

	.info {
		margin: 0.5rem 1rem 0 0;
	}

	#planning {
		margin-top: 3rem;
	}

	.image-container {
		flex-direction: column;
	}

	.image-container img {
		width: 100%;
		margin-bottom: 1rem;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 1rem;
		margin-top: 1rem;
	}

	h3 {
		font-size: 0.875rem;
		margin-top: 1rem;
	}

	h3 ~ p {
		margin-right: 0;
	}
}
